body {
  background-color: rgb(190,204,157);
  color: rgb(50,58,31);
  font-family: Arial,Tahoma;
}

a {
  text-decoration: none;
  color: rgb(126,117,52);
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: rgb(72,0,0);
}

p.foot {
  font-size: small;
}

img {
  border: 0;
}

#schedule td {
  text-align: center;
}
